<!DOCTYPE html>
{%extends 'base.html'%}
{%block child_block%}
    <div class="card" style="width: 18rem;">
        {%for greet in greet%}
            <div class="card-header">
                <h2 class="card-title">{{greet.name}}</h2>
            </div>
            <div class="card-body">
                <ul class="card-text">
                    <li>Name :{{greet.name}}</li>
                    <li>Message :{{greet.message}}</li>
                </ul>
            <a href="/delete/{{ greet.id }}" class="btn btn-danger">Delete</a>
                <a href="/update/{{ greet.id }}" class="btn btn-primary">Update</a>
            </div>
        {%endfor%}
    </div>

{%endblock%}