<!DOCTYPE html>
{%extends 'base.html'%}
{%block child_block%}
<div class="container">
    <h1 class="text-center">Update Greeting..</h1>
    <form method="post" >
        {%csrf_token%}
        <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" class="form-cotrol" id="name" name="name" value="{{ greet.name}}">
            <label for="message">Message : </label>
            <input type="text" class="form-cotrol" id="message" name="message" value="{{ greet.message}}">
        </div>
        <input type="submit" value="Update" name= ''>
    </form>
</div>
{%endblock%}